@font-face {
  font-family: "Star Jedi";
  src: url("./Starjedi.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica;
  background-color: #ebebeb;
  color: #3d3d3d;
}

body.dark {
  background-color: #242424;
  color: #fff;
}

.logo {
  font-family: "Star Jedi", arial;
}

nav {
  display: inline-flex;
  font-family: "Star Jedi", arial;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  padding: 10px 10px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #f3f3f3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.dark .wrapper {
  background-color: #393939;
}

.logo {
  color: #ffe81f;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

a {
  text-decoration: none;
}

nav a {
  margin: 0px 10px;
  padding: 5px 10px;
  color: #222;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}

.dark nav a {
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #171717;
}

nav a:hover {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.335), 0 0 15px rgba(0, 0, 255, 0.329),
    0 0 5px rgba(0, 0, 139, 0.318);
}

nav .router-link-active {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.335), 0 0 15px rgba(0, 0, 255, 0.329),
    0 0 5px rgba(0, 0, 139, 0.318);
}

.dark nav .router-link-active {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.335),
    0 0 15px rgba(255, 102, 0, 0.329), 0 0 5px rgba(139, 44, 0, 0.318);
}

main {
  padding: 40px;
  width: 70%;
  margin: 70px auto;
}

.heading {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.heading .icon {
  font-size: 30px;
  font-weight: 800;
}

.card {
  border-radius: 4px;
  list-style: none;
  background: #fafafa;
  border: #cacaca 1px solid;
  padding: 20px;
  margin-bottom: 20px;
}

.dark .card {
  background: rgb(72, 72, 72);
}
.title {
  font-size: 24px;
}

.collapse-text {
  text-align: center;
  width: 100%;
  font-family: "Star Jedi", arial;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.outer,
.inner {
  position: relative;
}

.inner {
  padding: 30px;
  background: #ccc;
  border-radius: 4px;
}

.text-center {
  text-align: center;
}

.dark .inner {
  background: rgb(55, 55, 55);
}

/** Transition **/
.nested-enter-active,
.nested-leave-active {
  transition: all 0.3s ease-in-out;
}
.nested-leave-active {
  transition-delay: 0.25s;
}

.nested-enter-from,
.nested-leave-to {
  transform: translateY(30px);
  opacity: 0;
}

.nested-enter-active .inner,
.nested-leave-active .inner {
  transition: all 0.3s ease-in-out;
}
.nested-enter-active .inner {
  transition-delay: 0.25s;
}

.nested-enter-from .inner,
.nested-leave-to .inner {
  transform: translateX(10px);
  opacity: 0.001;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.2s ease-out;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateX(10px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateX(-10px);
}
